:host {
    display    : block;
    text-align : inherit;
    width      : 100%;
    border     : solid 0px blue;
    overflow   : visible;
    margin-bottom : 5px;
}

input, textarea {
    font             : inherit;
    color            : inherit;
    margin           : 0px;
    padding          : 10px;
    background-color : #FFF;
    border           : 1px solid #DDD;
    border-width     : 1px 1px 1px 1px;
    outline          : none;
    width            : 100%;
}

input::-webkit-input-placeholder {
    color: #CCC;
}

input[invalid]:focus, textarea[invalid]:focus{
    border-color : red;
}

input[small] {
    padding: 2px;
}

