
            :host {
                display    : inline-block;
                text-align : inherit;
                position   : relative;
                width      : 100%;
            }

            input, textarea {

                font             : inherit;
                color            : inherit;
                margin           : 0;
                padding          : 0;
                background-color : transparent;
                border           : 1px solid #DDDDDD;
                border-width     : 0px 0px 1px 0px;
                outline          : none;
                width            : 100%;

                -webkit-transition : all 0.30s ease-in-out;
                -moz-transition    : all 0.30s ease-in-out;
                -ms-transition     : all 0.30s ease-in-out;
                -o-transition      : all 0.30s ease-in-out;

            }

            input[invalid]:focus, textarea[invalid]:focus{
                border-color : red;
            }

            input:focus, textarea:focus {
                padding      : 3px 0px 3px 3px;
                margin       : 5px 1px 3px 0px;
                border       : solid rgba(81, 203, 238, 1);
                border-width : 0px 0px 2px 0px;
            }

